/* 초기화용 reset.css */
@import "./reset.css";
/* 바디 화면 전체 크기 잡아줌*/
body {
  position: relative;
  min-width: 1903px;
}
section {
  position: absolute;
  top: 120px;
}
a {
  text-decoration: none;
  color: black;
}
/* 헤더를 맨위에서 따라다니게 */
header {
  position: sticky;
  top: 0px;
  width: 100%;
  min-width: 1903px;
  background-color: gray;
  z-index: 10;
}

/* 헤더 내에서 로고, 유틸, 카테고리 배치용 */
header .inner {
  width: 1180px;
  height: 120px;
  /*자식 absolute 요소의 기준점 설정*/
  position: relative;
  left: 300px;
}
/* 로그인 */
header .inner .logout_util {
  /* display: none; */
}
/* 로그아웃 */
header .inner .login_util {
  display: none;
}
/* 로고 */
header .inner .logo {
  position: absolute;
  left: 50px;
  width: 200px;
  height: 100%;
  background-color: lightblue;
  text-align: center;
}

header .inner .logo h1 {
  margin: 50px;
  font-weight: bold;
  font-size: 24px;
  font-family: "arial";
}

/* 헤더 우상단 유틸 */
header .inner .util {
  position: absolute;
  top: 20px;
  right: 0px;
}

header .inner .util li {
  background-color: aqua;
  border: 1px solid black;
  margin: 0px 5px;
}
header .inner .h_search_form {
  position: absolute;
  top: 50px;
  right: 0px;
}
header .inner .util .info > li {
  float: left;
}
header .inner .util .search > li {
  float: right;
}

header .inner .util > li > a {
  font: 12px "arial";
}

/* 헤더 카테고리 */
header .inner .gnb_wrapper {
  width: 100%;
  height: inherit;
  position: relative;
  display: flex;
  justify-content: center;
}
header .inner .gnb {
  position: absolute;
  bottom: 0px;
  left: 300px;
}
header .inner .gnb .category {
  float: left;
  display: block;
  border: 1px solid black;
  border-left: none;
}

header .inner .gnb .category:nth-of-type(1) {
  border: 1px solid black;
}

header .inner .gnb .category_detail {
  width: 400px;
  height: 300px;
  display: none;
}

header .inner .gnb .category > a {
  /* 인라인 요소를 block으로 바꿔서 크기 설정 */
  display: block;
  font: bold 15px "arial";
  color: #555;
  padding: 20px 10px;
  text-align: left;
  /* 애니메이션 효과  */
  transition: all 0.5s;
}

header .inner .gnb .category a:hover {
  background: #555;
  color: #fff;
}

/* 헤더 카테고리 이미지들 */
header .category_detail_wrapper {
  position: absolute;
  width: 100%;
  height: 305px;
  top: 120px;
  background-color: rgba(30, 30, 30, 0.5);
  display: none;
}
header .category_detail_wrapper .category_detail {
  width: 800px;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 0.5fr);
  grid-template-areas:
    "box1 box1 box2 box3"
    "box1 box1 box4 box5";
  padding-top: 5px;
  margin: 0 auto;
}

header .category_detail_wrapper .category_detail .c_details {
  margin: 0 5px;
}

header .category_detail_wrapper .category_detail .detail1 {
  grid-area: box1;
  background-color: red;
}
header .category_detail_wrapper .category_detail .detail2 {
  grid-area: box2;
  background-color: blue;
}
header .category_detail_wrapper .category_detail .detail3 {
  grid-area: box3;
  background-color: aqua;
}
header .category_detail_wrapper .category_detail .detail4 {
  grid-area: box4;
  background-color: yellow;
}
header .category_detail_wrapper .category_detail .detail5 {
  grid-area: box5;
  background-color: green;
}
header .category_detail_wrapper > .category_detail {
  display: none;
}
section{
  position: relative;
}
footer {
  width: 100%;
  height: 220px;
  position: relative;
  background-color: gray;
}
footer > div {
  margin: 5px;
}
footer > div > h1 {
  font-size: 30px;
  color: black;
  font-weight: bold;
}